{% extends 'base.html.twig' %}

{% block title %}VoyageOrganiser{% endblock %}

{% block body %}
    <h1>VoyageOrganiser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage_organiser.id }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ voyage_organiser.dateDebut ? voyage_organiser.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ voyage_organiser.dateFin ? voyage_organiser.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage_organiser.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voyage_organiser_index') }}">back to list</a>

    <a href="{{ path('voyage_organiser_edit', {'id': voyage_organiser.id}) }}">edit</a>

    {{ include('voyage_organiser/_delete_form.html.twig') }}
{% endblock %}
