{% extends 'base.html.twig' %}

{% block title %}Croissiere{% endblock %}

{% block body %}
    <h1>Croissiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ croissiere.id }}</td>
            </tr>
           
            <tr>
                <th>Description</th>
                <td>{{ croissiere.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('croissiere_index') }}">back to list</a>

    <a href="{{ path('croissiere_edit', {'id': croissiere.id}) }}">edit</a>

    {{ include('croissiere/_delete_form.html.twig') }}
{% endblock %}
